@model List<Flight_Management_System.Models.AdminEntities.TransportModel>
@{
    ViewBag.Title = "Aircrafts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>Search</h4>
@using (Html.BeginForm("Aircrafts", "Admin", FormMethod.Post))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}
<h2>All Aircrafts</h2>
<table class="table table-bordered">
    <tr>
        <th>Aircraft Name</th>
        <th>Maximum seat</th>
        <th>Added by</th>
    </tr>
    @foreach (var f in Model)
    {

        <tr>
            <td>@f.Name</td>
            <td>@f.MaximumSeat</td>
            <td><a href="/Admin/UserDetails/@f.CreatedBy">@f.CreatorName</a></td>



        </tr>
    }
</table>
<div class="col-md-10 center-block"><a href="/Admin/Flights" class="btn btn-success">Show Scheduled Aircrafts</a></div>
