@model Flight_Management_System.Models.AdminEntities.UserModel
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Change Password</h2>

@if (TempData["msg"] != null)
{
    <span class="label-danger">@TempData["msg"]}</span>
}


<form action="/Admin/ChangePass" method="post">
    <table>
        <tr>
            <th>Old Password :</th>
            <td>
                <input type="text" name="OldPassword" class="form-control" />
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>New Password :</th>
            <td>
                <input type="text" name="Password" placeholder="New Password" class="form-control" />
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Confirm Password :</th>
            <td>
                <input type="text" name="ConPassword" placeholder="Confirm Password" class="form-control" />
                @Html.ValidationMessageFor(model => model.ConPassword, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Change Password" class="btn btn-danger" /></td>
        </tr>
    </table>
        
</form>


