
@{
    ViewBag.Title = "SearchAllUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Search All Users</h2>

<a href="/Admin/PurchasedUserList" class="btn btn-success">Search Customer</a>
<a href="" class="btn btn-success">Search Flicht Mangers</a>

