<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    
</head>
<body>
    <div>
        <a href="/Admin/Index" class="btn btn-success">Home</a>
        <a href="/Admin/Details" class="btn btn-danger">Profile</a>
        <a href="/Admin/userlist" class="btn btn-success">All users</a>
        <a href="/Admin/aircrafts" class="btn btn-success">Aircrafts</a>
        <a href="/Admin/flights" class="btn btn-success">Scheduled Flights</a>
        <a href="" class="btn btn-danger">Logout</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
